<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="深圳市友来汽车租赁有限公司" />
<meta name="description" content="深圳市友来汽车租赁有限公司" />
<title>深圳市友来汽车租赁有限公司</title>

<link href="css/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
<div id="container">
		<div id="top">
				<img src="images/tel.jpg" class="right" />
				<h1>深圳市友来汽车租赁有限公司</h1>
				<div class="clear"></div>
				<ul class="nav_ul">
					   <li style="background:none"><a href="index.html">网站首页</a></li>
					   <li><a href="aboutus.html">公司简介</a></li>
					   <li><a href="products.html">车型展示</a></li>
					   <li><a href="jiage.html">租车价格</a></li>
					   <li><a href="zuche.html">租车服务</a></li>
					   <li><a href="hunche.html">婚车服务</a></li>
					   <li><a href="news.html">新闻动态</a></li>
					   <li><a href="contact.html">联系我们</a></li>
				</ul>
		</div><!--end top-->
		
		<div id="ny_banner">
				<img src="images/banner.jpg" width="1000" height="250" />
		</div><!--end ny_banner-->
		
		<div id="ny_main">
				<div class="ny_mainLeft">
						 <div class="title"><h1>车型类别</h1></div>
						 <ul class="prolist_ul">
						 		<li><a href="products.html">商务车</a></li>
								<li><a href="products.html">轿车</a></li>
								<li><a href="products.html">婚车</a></li>
						</ul>
						<div class="title" style="margin-top:20px;"><h1>联系我们</h1></div>
						<p style="padding:10px; background:url(images/kefu.jpg) right bottom no-repeat;">
									  深圳市友来汽车租赁有限公司<br />
									  地 址：深圳市南山区南海大道西桃园路南西海明珠花园F座11楼<br />
									  电 话：0755-86250551<br />
									  联系人：林先生  欧小姐 <br />
									  手 机：13688842234   18665996563 <br />
									  邮 箱：1402555314@qq.com  <br />
						</p>
				</div><!--end mainLeft-->
				
				<div class="ny_mainRight">
						<div class="title"><span class="more">当前位置： <A href="index.html">首页</A> &gt; 公司简介</span><span class="boldtitle">公司简介</span></div>
						<div class="content">
								<p>
								深圳市友来汽车租赁有限公司是一家以企业商务租车，商务包车，会议租车，会议接待，会议用车的综合型的企业商务租车服务公司，我们以安全服务于企事业单位，为客户提供优质，高效，省心，舒适的服务品质。公司拥有各种国产车辆和进口车，商务用车，大巴，中巴等，配备了驾驶路线娴熟的驾驶员随时提供服务，可满足国内外企事业单位，中外宾客，港澳台同胞的各种租车服务。我司有多种租车模式，您可根据需要选择年租，月租，日租服务。 <br />

友来租车提供租期30天以下的短租服务，并有普通产品、周租/月租产品两种选择：

								</p>
						</div>
						
				</div><!--mainRight-->
				<div class="clear"></div>
				
		</div><!--end main-->
		
		<div id="foot">
		
				<p align="center">
			   <a href="index.html">网站首页</a> &nbsp;|&nbsp; 
			   <a href="aboutus.html">公司简介</a> &nbsp;|&nbsp; 
			   <a href="products.html">车型展示</a> &nbsp;|&nbsp; 
			   <a href="jiage.html">租车价格</a> &nbsp;|&nbsp; 
			   <a href="zuche.html">租车服务</a> &nbsp;|&nbsp; 
			   <a href="hunche.html">婚车服务</a> &nbsp;|&nbsp; 
			   <a href="news.html">新闻动态</a> &nbsp;|&nbsp; 
			   <a href="contact.html">联系我们</a>
			   </p>
			   <p align="center" style="padding-top:10px;">
			  地 址：深圳市南山区南海大道西桃园路南西海明珠花园F座11楼<br />
			
			  版权所有：深圳市友来汽车租赁有限公司
			  </p>
		</div><!---->
</div><!--end container-->



</body>
</html>
