<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="深圳市友来汽车租赁有限公司" />
<meta name="description" content="深圳市友来汽车租赁有限公司" />
<title>深圳市友来汽车租赁有限公司</title>

<link href="css/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
<div id="container">
		<div id="top">
				<img src="images/tel.jpg" class="right" />
				<h1>深圳市友来汽车租赁有限公司</h1>
				<div class="clear"></div>
				<ul class="nav_ul">
					   <li style="background:none"><a href="index.html">网站首页</a></li>
					   <li><a href="aboutus.html">公司简介</a></li>
					   <li><a href="products.html">车型展示</a></li>
					   <li><a href="jiage.html">租车价格</a></li>
					   <li><a href="zuche.html">租车服务</a></li>
					   <li><a href="hunche.html">婚车服务</a></li>
					   <li><a href="news.html">新闻动态</a></li>
					   <li><a href="contact.html">联系我们</a></li>
				</ul>
		</div><!--end top-->
		
		<div id="ny_banner">
				<img src="images/banner.jpg" width="1000" height="250" />
		</div><!--end ny_banner-->
		
		<div id="ny_main">
				<div class="ny_mainLeft">
						 <div class="title"><h1>产品类别</h1></div>
						 <ul class="prolist_ul">
						 		<li><a href="products.html">商务车</a></li>
								<li><a href="products.html">轿车</a></li>
								<li><a href="products.html">婚车</a></li>
						</ul>
						<div class="title" style="margin-top:20px;"><h1>联系我们</h1></div>
						<p style="padding:10px; background:url(images/kefu.jpg) right bottom no-repeat;">
									  深圳市友来汽车租赁有限公司<br />
									  地 址：深圳市南山区南海大道西桃园路南西海明珠花园F座11楼<br />
									  电 话：0755-86250551<br />
									  联系人：林先生  欧小姐 <br />
									  手 机：13688842234   18665996563 <br />
									  邮 箱：1402555314@qq.com  <br />
						</p>
				</div><!--end mainLeft-->
				
				<div class="ny_mainRight">
						<div class="title"><span class="more">当前位置： <A href="index.html">首页</A> &gt; 婚车服务</span><span class="boldtitle">婚车服务</span></div>
						<div class="content">
						  <table border="1" cellspacing="0" cellpadding="0" width="461">
                                  <tr>
                                    <td width="461" nowrap="nowrap" colspan="6"><p align="center"><strong>婚礼租车 </strong></p></td>
                                  </tr>
                                  <tr>
                                    <td width="101" nowrap="nowrap" rowspan="2"><p align="center">车型 </p></td>
                                    <td width="40" nowrap="nowrap" rowspan="2"><p align="center">座位 </p></td>
                                    <td width="108" nowrap="nowrap" rowspan="2"><p align="center">日租（10小时） </p></td>
                                    <td width="71" rowspan="2"><p align="center">超小时 </p></td>
                                    <td width="71" rowspan="2"><p align="center">超公里 </p></td>
                                    <td width="71" rowspan="2"><p align="center">备注 </p></td>
                                  </tr>
                                  <tr> </tr>
                                  <tr>
                                    <td width="101" nowrap="nowrap"><p align="center">捷达新款 </p></td>
                                    <td width="40" nowrap="nowrap"><p align="center">5 </p></td>
                                    <td width="108" nowrap="nowrap"><p align="center">400 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">30 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">2 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">配司机 </p></td>
                                  </tr>
                                  <tr>
                                    <td width="101" nowrap="nowrap"><p align="center">现代伊兰特 </p></td>
                                    <td width="40" nowrap="nowrap"><p align="center">5 </p></td>
                                    <td width="108" nowrap="nowrap"><p align="center">450 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">30 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">2 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">　 </p></td>
                                  </tr>
                                  <tr>
                                    <td width="101" nowrap="nowrap"><p align="center">桑塔纳2000 </p></td>
                                    <td width="40" nowrap="nowrap"><p align="center">5 </p></td>
                                    <td width="108" nowrap="nowrap"><p align="center">450 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">30 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">2 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">　 </p></td>
                                  </tr>
                                  <tr>
                                    <td width="101" nowrap="nowrap"><p align="center">桑塔纳3000 </p></td>
                                    <td width="40"><p align="center">5 </p></td>
                                    <td width="108"><p align="center">550 </p></td>
                                    <td width="71"><p align="center">30 </p></td>
                                    <td width="71"><p align="center">2 </p></td>
                                    <td width="71"><p align="center">　 </p></td>
                                  </tr>
                                  <tr>
                                    <td width="101" nowrap="nowrap"><p align="center">马自达福美来 </p></td>
                                    <td width="40" nowrap="nowrap"><p align="center">5 </p></td>
                                    <td width="108" nowrap="nowrap"><p align="center">400 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">30 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">2 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">　 </p></td>
                                  </tr>
                                  <tr>
                                    <td width="101" nowrap="nowrap"><p align="center">现代索拉塔2.0 </p></td>
                                    <td width="40" nowrap="nowrap"><p align="center">5 </p></td>
                                    <td width="108" nowrap="nowrap"><p align="center">550 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">40 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">2 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">　 </p></td>
                                  </tr>
                                  <tr>
                                    <td width="101" nowrap="nowrap"><p align="center">帕萨特1.8T </p></td>
                                    <td width="40" nowrap="nowrap"><p align="center">5 </p></td>
                                    <td width="108" nowrap="nowrap"><p align="center">650 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">50 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">3 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">　 </p></td>
                                  </tr>
                                  <tr>
                                    <td width="101" nowrap="nowrap"><p align="center">本田雅阁2.4 </p></td>
                                    <td width="40" nowrap="nowrap"><p align="center">5 </p></td>
                                    <td width="108" nowrap="nowrap"><p align="center">750 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">50 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">3 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">　 </p></td>
                                  </tr>
                                  <tr>
                                    <td width="101" nowrap="nowrap"><p align="center">别克君威2.5 </p></td>
                                    <td width="40"><p align="center">5 </p></td>
                                    <td width="108"><p align="center">750 </p></td>
                                    <td width="71"><p align="center">50 </p></td>
                                    <td width="71"><p align="center">3 </p></td>
                                    <td width="71"><p align="center">　 </p></td>
                                  </tr>
                                  <tr>
                                    <td width="101" nowrap="nowrap"><p align="center">奥迪&nbsp;A6 </p></td>
                                    <td width="40" nowrap="nowrap"><p align="center">5 </p></td>
                                    <td width="108" nowrap="nowrap"><p align="center">900 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">80 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">5 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">　 </p></td>
                                  </tr>
                                  <tr>
                                    <td width="101" nowrap="nowrap"><p align="center">奔驰&nbsp;S320 </p></td>
                                    <td width="40" nowrap="nowrap"><p align="center">5 </p></td>
                                    <td width="108" nowrap="nowrap"><p align="center">1500 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">100 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">5 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">　 </p></td>
                                  </tr>
                                  <tr>
                                    <td width="101" nowrap="nowrap"><p align="center">奔驰&nbsp;S600 </p></td>
                                    <td width="40" nowrap="nowrap"><p align="center">5 </p></td>
                                    <td width="108" nowrap="nowrap"><p align="center">1800 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">100 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">5 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">　 </p></td>
                                  </tr>
                                  <tr>
                                    <td width="101" nowrap="nowrap"><p align="center">奔驰300SEL </p></td>
                                    <td width="40" nowrap="nowrap"><p align="center">5 </p></td>
                                    <td width="108" nowrap="nowrap"><p align="center">700 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">100 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">5 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">　 </p></td>
                                  </tr>
                                  <tr>
                                    <td width="101" nowrap="nowrap"><p align="center">奔驰E500 </p></td>
                                    <td width="40" nowrap="nowrap"><p align="center">5 </p></td>
                                    <td width="108" nowrap="nowrap"><p align="center">700 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">100 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">5 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">　 </p></td>
                                  </tr>
                                  <tr>
                                    <td width="101" nowrap="nowrap"><p align="center">新款奔驰S500 </p></td>
                                    <td width="40" nowrap="nowrap"><p align="center">5 </p></td>
                                    <td width="108" nowrap="nowrap"><p align="center">2300 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">100 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">5 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">　 </p></td>
                                  </tr>
                                  <tr>
                                    <td width="101" nowrap="nowrap"><p align="center">卡罗拉 </p></td>
                                    <td width="40" nowrap="nowrap"><p align="center">5 </p></td>
                                    <td width="108" nowrap="nowrap"><p align="center">400 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">10 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">100 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">配司机 </p></td>
                                  </tr>
                                  <tr>
                                    <td width="101" nowrap="nowrap"><p align="center">宝马7系 </p></td>
                                    <td width="40"><p align="center">5 </p></td>
                                    <td width="108"><p align="center">2500 </p></td>
                                    <td width="71"><p align="center">10 </p></td>
                                    <td width="71"><p align="center">5 </p></td>
                                    <td width="71"><p align="center">包100公里油配司机 </p></td>
                                  </tr>
                                  <tr>
                                    <td width="101" nowrap="nowrap"><p align="center">汉兰达 </p></td>
                                    <td width="40" nowrap="nowrap"><p align="center">7 </p></td>
                                    <td width="108" nowrap="nowrap"><p align="center">1600 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">10 </p></td>
                                    <td width="71" nowrap="nowrap"><p align="center">5 </p></td>
                                    <td width="71"><p align="center">包100公里油 </p></td>
                                  </tr>
                                </table>
								<p align="left"><strong>在签订婚车租赁合同时，需注意以下几点：</strong> <br />
								  ◆了解车的日限公里数和超出限数后的计费标准。一般中档轿车的日行驶里程应在100公里以内，但也有许多婚车租赁公司是不限公里数的，您可根据情况(车况、租金、服务项目等)权衡比较各自的综合条件。 <br />
								  ◆仔细了解婚车租赁公司的承诺，以充分享受各项应得的权利。 <br />
								  ◆为防止有事不能及时还车，还应认真了解续租规定及租赁超时的计费规定，以免事后与婚车租赁公司之间发生异议。 <br />
								  ◆合同中应明确：行程安排（把行驶里程固定下来）、支付方式（以及发票交付情况）、违约责任（尤其是车辆万一到时不能使用如何解决）等。 <br />
								  ◆签合同的最后一项内容是填写验车单，这是双方共同认定车况的过程。此过程涉及到还车时的再认定，因此一定要认真对待。首先要从外观上对车辆进行检查，例如车体有无划痕，车灯是否完整，车锁是否正常等。然后打开车盖,查看冷冻液、机油、电瓶的状况，均无异常后，即可进入驾驶室内，检查油表、刹车、空调的运行状况，并进行试驾，判断车辆的基本状况。对于一些车型的特殊功能及用法，应向婚车租赁公司咨询清楚，以利更加方便的使用。 <br />
								  ◆保存好租赁合同和收据，万一婚礼过程中，有资质婚车出现了不诚信、安全事故等问题，新人应该用摄像机等将现场拍摄下来、保留证据，以便于日后索赔。 </p>
						</div>
						
				</div><!--mainRight-->
				<div class="clear"></div>
				
		</div><!--end main-->
		
		<div id="foot">
		
				<p align="center">
			   <a href="index.html">网站首页</a> &nbsp;|&nbsp; 
			   <a href="aboutus.html">公司简介</a> &nbsp;|&nbsp; 
			   <a href="products.html">车型展示</a> &nbsp;|&nbsp; 
			   <a href="jiage.html">租车价格</a> &nbsp;|&nbsp; 
			   <a href="zuche.html">租车服务</a> &nbsp;|&nbsp; 
			   <a href="hunche.html">婚车服务</a> &nbsp;|&nbsp; 
			   <a href="news.html">新闻动态</a> &nbsp;|&nbsp; 
			   <a href="contact.html">联系我们</a>
			   </p>
			   <p align="center" style="padding-top:10px;">
			  地 址：深圳市南山区南海大道西桃园路南西海明珠花园F座11楼<br />
			
			  版权所有：深圳市友来汽车租赁有限公司
			  </p>
		</div><!---->
</div><!--end container-->



</body>
</html>
