{extend name="public:layout" /}
{block name="body"}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span> 系统日志 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
  <div class="text-c"> 日期范围：
    
    <input type="text" name="" id="" placeholder="日志名称" style="width:250px" class="input-text"><button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜日志</button>
  </div>
  <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="form_del_data()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a></span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
  <form name="form" method="post" action="{:url('Admin/ActionLog/del')}">
  <table class="table table-border table-bordered table-bg table-hover table-sort">
    <thead>
      <tr class="text-c">
        <th width="25"><input type="checkbox" name="" value="" class="all"></th>
        <th width="80">ID</th>
     
        <th width="30%">内容</th>
        <th width="17%">用户名</th>
        <th width="120">客户端IP</th>
        <th width="120">时间</th>
        <th width="70">操作</th>
      </tr>
    </thead>
    <tbody>
    {volist name="list" id="vo"}
      <tr class="text-c">
       
        <td><input name="id[]" type="checkbox" value="{$vo.id}"></td>
        <td>{$vo.id}</td>
      
        <td>{:get_action($vo['action_id'],'title')}</td>
        <td>{$vo.user_id}</td>
        <td>{$vo.action_ip}</td>
        <td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
        <td><a title="删除" href="del?id={$vo.id}" onclick="" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
      </tr>
        {/volist}
    </tbody>
  </table>
  </form>
  <div id="" class="pages">
      {$list->render()}     
  </div>
</div>
<script>
$('.all').click(function() {
    if($(this).is(':checked')) {
      $(':checkbox').attr('checked', 'checked');
    } else {
      $(':checkbox').removeAttr('checked');
    }
});

function form_del_data(){ 
  if($(':checked').size() > 0) {
    layer.confirm('确认要批量删除吗',function(){
      //layer.msg('已删除!',{icon:1,time:1000});
        document.form.submit();
    });
  }else{
        layer.alert('您没有选择！');
  }
} 
</script>
</body>
{/block}
</html>